* {
	margin: 0;
	padding: 0;
}

body {
	background: url(assets/bg.jpg);
	background-position: center;
	background-size: cover;
}

.navbar {
	width: 86%;
	display: flex;
	margin: auto;
	padding: 15px 0;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo {
	width: 80px;
	cursor: pointer;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 16px;
}

.navbar ul li a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: darkslategray;
	margin-top: -3%;
	transition: 0.4s ease;
}

.navbar ul li a:hover {
	color: rgb(236, 66, 4);
}
